* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.booksContainer {
    /* margin: 35px 12px; */
    position:relative;
    display: grid ;
    grid-template-columns: repeat(3, auto);
    /* background: linear-gradient(135deg, #dfe7f3 0%, #c4d5ef 100%); */
    /* background: linear-gradient(135deg, #f3ebdf 0%, #efe8c4 100%); */
    /* background: #ebedef; */
    background-color: #E8ECEF;
    min-height: 900px;
    justify-content: center;
    /* align-items: flex-start; */
    flex-wrap:wrap;
    gap: 30px;
    column-gap: 70px;
    padding: 10px;
    
    overflow-y:visible;
}

.booksContainer .bookcard {
    transition: all 0.3s ease-in-out;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 240px;
    margin: 15px 40px;
    height: 390px;
    
    border-radius: 14px;
    transition: all 0.3s ease-in-out;
    padding: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.bookcard .titlesection {
    width: 92%;
    align-self: center;
    height: 70%;
    margin-top: 12px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    color: #333333;
    font-family: 'Arial', sans-serif;
    background: #f8f9fa;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 2px;    
}
.bookcard .titlesection h3{
    margin: 2px 4px;
    background: rgb(255, 233, 193);
    margin-bottom:0 ;
    text-align: justify;
    text-align: center;
}
.bookcard .titlesection img{
    height: 160px;
    aspect-ratio: 1 / 6 /1;
    max-width:100%;
}



.bookcard .extra-context-for-transparent-card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    visibility: hidden;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 2px 30px;
    transition: all .4s ease-in-out;
}
.bookcard:hover .extra-context-for-transparent-card{
    color: rgb(5, 5, 46);
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    visibility: visible;
    text-justify:distribute-all-lines;
    margin-top: 8px ;
}


.bookcard .bookinfo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    background-color: transparent;
    height: 25%;
    color: #444444;
    padding: 8px 12px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease-out;
}

.bookcard .card-options{
    position: absolute;
    display: flex;
    top: 0;
    gap: 5px;
    cursor: pointer;
    right: 0;
    margin: 4px 8px;
    visibility: hidden;
    background: transparent;
    transition: .3s ease-in-out;
}

.bookcard:hover .card-options{
    visibility: visible;
}

.card-options div{
    background: rgb(218, 241, 241);
    display: flex;
    height: 38px;
    width: 38px;
    border-radius: 50px;
    z-index: 2;
    padding: 6px;
}

.card-options div:hover{
    transform: scale(1.1);
}
.bookcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    /* background: linear-gradient(to bottom, #37ca55, #0d9839); */
    background: linear-gradient(to bottom, #fb9664, #f76806);
    /* background:#123499; */
    /* background: linear-gradient(to bottom, #4268db, #0c2f9a); */
    /* background: #0e3fd1; */
    /* background: #1A43bf; */
    /* background: #0A2472; */
}

.bookcard:hover .bookinfo{
    color: white;
}

.bookinfo ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

@media screen and (max-width:1125px) {
    .booksContainer{
        grid-template-columns: repeat(2,auto);
        gap: 10px;
    }
    .booksContainer .bookcard .extra-context-for-transparent-card{
        font-size: 1.3rem;
        visibility: visible;
    }
    .bookcard .card-options{
        visibility: visible;
    }
}
@media screen and (max-width:758px) {
    .booksContainer{
        padding-bottom: 50px;
    }
}
@media screen and (max-width:676px) {
    .booksContainer{
        grid-template-columns: repeat(1,auto);
        font-size:1rem ;
    }
    .booksContainer .bookcard{
        height: 320px;
        width: 200px;
        font-size: large;
    }
    .bookcard .extra-context-for-transparent-card{
        font-size: 1.1rem;
    }
}
@media (max-width: 680px){
    .bookcard .titlesection img{
        height: 140px;
    }
    .bookcard .titlesection h3{
        font-size: .85rem;
    }
}